@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-gradient{
  background: linear-gradient(139.14deg, #076ECD 23.19%, #1CBBFF 102.24%);
}

.light-blue-gradient{
  background: linear-gradient(180deg, rgba(160, 249, 255, 0.306) 0%, rgba(160, 249, 255, 0.12) 100%);
}